{% extends 'layout.html.twig' %}

{% block title %}Modification d'une Question{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/admin/updateObject.css">
{% endblock %}

{% block toggler %} 
    <a class="nav-link deconnexion" href="/disconnection"><i class="bi bi-x-circle-fill"></i> Se déconnecter <span class="sr-only"></span></a>
{% endblock %}

{% block navbar %}  
    <a class="nav-link deconnexion" href="/disconnection"><i class="bi bi-x-circle-fill"></i> Se déconnecter <span class="sr-only"></span></a>  
{% endblock %}

{% block body %}
    <div class="container">
        <form action="#" method="post" onsubmit="return valid()">
            <div class="form-group">
            
                <label for="label">Label</label>
                <textarea class="form-control" id="label" name="label" value="" placeholder="Label of the question">{{ question.label }}</textarea>
                <div class="bg-danger text-white text-center" >{{ labelError }}</div>

                <label for="level">Niveau</label>
                <input type="number" class="form-control" id="level" name="level" value="{{ question.level }}" placeholder="3">
                <div class="bg-danger text-white text-center" >{{ levelError }}</div>

                <label for="answers">Réponses</label><br>
                {% for answer in question.answers  %}
                    <span>
                    {% if answer.valid %}
                        <label for="valid{{ answer.id }}">Valide</label>
                        <input type="checkbox" class="valid" id="valid{{ answer.id }}" name="valid{{ answer.id }}" checked>
                    {% else %}
                        <label for="valid{{ answer.id }}">Valide</label>
                        <input type="checkbox" class="valid" id="valid{{ answer.id }}" name="valid{{ answer.id }}">
                    {% endif %}
                        <input type="text" class="form-control input-answer" id="{{ answer.id }}" name="answers[]" value="{{ answer.label }}" placeholder="Réponse de la question">
                        <a href="?idquestion={{ question.id }}&idanswer={{ answer.id }}" data-id="{{ answer.id }}" class="btn btn-danger btn-sm delete-answer">Supprimer</a><br>
                    </span>
                {% endfor %}
                    
                <input type="button" value="+" id="addButton"><br>
                <div class="bg-danger text-white text-center" >{{ answersError }}</div>
            </div>

            <div class="align-btn text-center">
                <a href="/question" class="btn btn-dark">Retour</a>
                <button type="submit" class="btn btn-primary">Appliquer</button>    
            </div>

            <div class="bg-danger text-white text-center">{{ updateError }}</div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="/js/main.js"></script>
    <script src="/js/addAnswer.js"></script>
    <script src="/js/delete.js"></script>
{% endblock %}

